<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= button_to "Emp Add",action: "emp_add" %><br>
    <%= mail_to "mailmegajendra14@gmail.com", "My Email" %>
  </body>
</html>
