<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table align="center" border="1">
      <tr>
        <td><%= button_to "Add Student", controller: "student",action: "student_form" %></td>
      </tr>
    </table>
  </body>
</html>
